@using ResumeApp.Components.Matrix\
@inherits LayoutComponentBase
<div class="page">
    <main>
        <Header>David Rosskopf | drosskopf@gmail.com</Header>
        <article class="content px-4">
            <MatrixBackground>
                @Body
            </MatrixBackground>
        </article>
    </main>
</div>
